{%include 'layout.html'%}
{%block content%}

<section  id="about" class="center-align">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   	
   			<h3>Let me introduce myself.</h3>

   			<div class="intro-info">

   				<p class="lead">Nothing Special</p>
   			</div>   	
   			<div class="indigo darken-4" style=" color: white; display: inline; background-color: black; padding: 15px; border-radius: 3px;" >
   				
   				<a style="color: white;" href="https://github.com/naveenmicheal">Git Hub</a><i style="position: relative;top:7px;left: 3px;" class="material-icons">insert_link</i>
   			</div>		

   		</div>   		
   	</div> 
   	   </section>

<style type="text/css">
	body{
		background-color: white;
	}
</style>

{%endblock%}