<!DOCTYPE html>
<html>
<head>
	<title>Exposer</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='materialize.min.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}"/>
</head>
<body>
{%block content%}
{%endblock content%}
</body>
<script type="text/javascript" src="{{url_for('static', filename='materialize.min.js')}}"></script>
</html>